@tailwind base;
@tailwind components;
@tailwind utilities;


/* ---------------------------------------------------------------- */
/*                             Fonts                                */
/* ---------------------------------------------------------------- */

body {
    font-family: "Cascadia Code", "Helvetica", "Arial", "Comic Sans";
}
/* ---------------------------------------------------------------- */
/*                             Shadows                              */
/* ---------------------------------------------------------------- */

.shadowNav {
    position: relative;
}

.shadowNav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background: linear-gradient(to bottom, rgba(142, 68, 173, 1) 0%, rgba(158, 7, 7, 0.549) 100%, #2b1236 100%);
}

.shadowFoot {
    position: relative;
}

.shadowFoot::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background: linear-gradient(to top, rgba(142, 68, 173, 1) 0%, rgba(158, 7, 7, 0.549) 100%, #2b1236 100%);
}
/* ---------------------------------------------------------------- */
/*                             Images                               */
/* ---------------------------------------------------------------- */

#game_image {
    width: 200px;
    height: 200px;
}

/* ---------------------------------------------------------------- */
/*                             Purple!                              */
/* ---------------------------------------------------------------- */
.purpleText {
    font-size: 35px;
    background-image:
        linear-gradient(to right, rgb(104, 5, 196),
            rgb(120, 5, 196),
            rgb(136, 5, 196),
            rgb(152, 5, 196),
            rgb(168, 5, 196),
            rgb(184, 5, 196),
            rgb(200, 5, 196),
            rgb(216, 5, 196),
            rgb(232, 5, 196),
            rgb(248, 5, 196),
            rgb(255, 5, 196),
            rgb(255, 255, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 100s linear infinite;
    }

@keyframes move {
    to {
        background-position: 4500vh;
    }
}

/* ---------------------------------------------------------------- */
/*    Custom Colours  (Tailwind nor Daisy would let me add them)     */
/* ---------------------------------------------------------------- */

.testing {
    background-color: #ea3535;
}

/* ---------------------------------------------------------------- */
/*                          Tab Styling                             */
/* ---------------------------------------------------------------- */
.tabs-boxed .tab-active:not(.tab-disabled):not([disabled]),
.tabs-boxed :is(input:checked) {
  background-color: #591e3ec7;
  color: #e84ca2;
}

/* ---------------------------------------------------------------- */
/*                          Icon Styling                            */
/* ---------------------------------------------------------------- */

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link-hover:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(158, 7, 7, 0.549);
}

.footIcon {
    font-size: 1.5rem;
    color: #672b82;
    margin-right: 0.5rem;
}
